pufferfish.*
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build outputs: ignore everything under build/ except the Release/pufferfish.exe binary
/build/*
!/build/Release/
/build/Release/*
!/build/Release/pufferfish.exe
!/build/pufferfish

bot\python\nnue_residual.bin
bot\python\nnue_residual_rebalanced_preprocessed.bin
bot\python\simple_nnue.bin
